<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Logo</a>
        <ul class="left hide-on-med-and-down">
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/register">Register</a></li>
            <li class="active"><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>