<div class="row">
    <form class="col s12" method="post" action="/addProduct">
        <div class="row">
            <div class="input-field col s6">
                <input id="input_text" type="text" data-length="10" name="nameProduct">
                <label for="input_text">Input text</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="input_text" type="text" data-length="10" name="price">
                <label for="input_text">Input text</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="input_text" type="text" data-length="10" name="description">
                <label for="input_text">Input text</label>
            </div>
        </div>
        <button type="submit" class="btn btn-2">Отправить</button>
    </form>
</div>