<div class="row">
    <form class="col s12" action="/auth/login" method="post">
        <div class="row">
            <div class="input-field col s4">
                <input placeholder="email" id="email" type="text" class="validate" name="email">
                <label for="email"></label>
            </div>
            <div class="input-field col s4">
                <input placeholder="password" id="password" type="text" class="validate" name="password">
                <label for="password"></label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>